.container{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.imagen{
    max-width: 25rem;
}



