/* ELEMENTOS*/

.cerezas::before {
    content: "🍒";
    margin-right: 5px; 
}

.container-cabecera{
    text-align: center;
    padding: 1.5625rem 0rem;
}
.container-main{
    padding: 4.375rem 6.25rem ;
    display: flex;
    gap: .9375rem;
    flex-wrap: wrap;
    justify-content: center;
    
}
.main-column{
    max-width: 30rem;
    padding: .625rem;
}

.main-column__content{
    margin-bottom: 2.5rem;
}

.main-container-title{
    padding-top: 5rem;
    text-align: center;

}

.container-footer{
    padding: 1.875rem;
    text-align: center;
}