
/*Colores*/

.fondoPrimario{
    background-color: #0C1B33;
}
.fondoSecundario{
    background-color: white;
}

.colorPrimario{
    color: goldenrod;
}

.colorSecundario{
    color: #0C1B33;
}

.colorTerciario{
    color: white;
}

/*Alineamientos letras*/

.textoCentrado{
    text-align: center;
}

/*Tamaños titles*/

.subtitulo{
    font-size: clamp(1em, 1vw,1.5em);
}

/*Menú*/
/*Barra de navegación*/
.navbar{
    background-color: #0C1B33;
    border-bottom: 1px solid white;
}


/*Elementos del menú*/
.logo{
    height:3em;
}

.logo:hover{
    transform: scale(1.05);
}

.nav-link{
    color: white;
    font-weight: 600;
}

.nav-link:hover{
    color: goldenrod;
}

/*Main*/

.containerHead{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-top: 8em;
}

.headLeft{
    padding: 4rem;
    color: white;
}

.boxForm{
    background-color: white;
    border-radius: 1em;
    color: black;
    padding: 1rem;
}

.headRight{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxNumber{
    border: 1px solid goldenrod;
    border-radius: 1em;
    padding: 5em;
    color: white;
}

/*Segunda sección*/

@media (min-width: 992px) {

.containerHead{
    flex-direction:row;
    padding-top: 5em;
}

.headLeft{
    flex: 50%;
}

.headRight{
    flex: 50%;
}

}