.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-box{
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    color: aliceblue;
    padding: 3em;
    

}

.card-box__img{
    
}