body{
    background-color:papayawhip;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.container-buttons{
    display: flex;
    gap: 1rem;
}
.container-buttons__button{
    background-color: chocolate;
    padding:1em;
    border-radius: 5px;
    color: white;
}

.container-left{
    display: flex;
    flex-direction: column;
    margin: 5%;
    align-items: flex-start;
}

.container-left__separator{
    width: 90%;
    height: 1px;
    background-color: chocolate;
}

